# coding: utf-8

"""
WebApi.py
Copyright 2016 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class WebApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def admin_login(self, email, password, **kwargs):
        """
        
        Admin login

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.admin_login(email, password, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str email: email (required)
        :param str password: password (required)
        :return: AdminLogin
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['email', 'password']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method admin_login" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'email' is set
        if ('email' not in params) or (params['email'] is None):
            raise ValueError("Missing the required parameter `email` when calling `admin_login`")
        # verify the required parameter 'password' is set
        if ('password' not in params) or (params['password'] is None):
            raise ValueError("Missing the required parameter `password` when calling `admin_login`")

        resource_path = '/api/adminLogin'.replace('{format}', 'json')
        method = 'POST'

        path_params = {}

        query_params = {}

        header_params = {}

        form_params = {}
        files = {}
        if 'email' in params:
            form_params['email'] = params['email']
        if 'password' in params:
            form_params['password'] = params['password']

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/x-www-form-urlencoded'])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, method,
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=files,
                                            response_type='AdminLogin',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def assessment(self, coughsoundfile, age, gender, assessment_id, symptoms, **kwargs):
        """
        
        Assessment

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.assessment(coughsoundfile, age, gender, assessment_id, symptoms, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param file coughsoundfile: should be wav file (required)
        :param int age: age (required)
        :param bool gender: gender (required)
        :param str assessment_id: assessmentId (required)
        :param str symptoms: symptoms (required)
        :param str access_token: pass your token here
        :return: Assessment
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['coughsoundfile', 'age', 'gender', 'assessment_id', 'symptoms', 'access_token']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method assessment" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'coughsoundfile' is set
        if ('coughsoundfile' not in params) or (params['coughsoundfile'] is None):
            raise ValueError("Missing the required parameter `coughsoundfile` when calling `assessment`")
        # verify the required parameter 'age' is set
        if ('age' not in params) or (params['age'] is None):
            raise ValueError("Missing the required parameter `age` when calling `assessment`")
        # verify the required parameter 'gender' is set
        if ('gender' not in params) or (params['gender'] is None):
            raise ValueError("Missing the required parameter `gender` when calling `assessment`")
        # verify the required parameter 'assessment_id' is set
        if ('assessment_id' not in params) or (params['assessment_id'] is None):
            raise ValueError("Missing the required parameter `assessment_id` when calling `assessment`")
        # verify the required parameter 'symptoms' is set
        if ('symptoms' not in params) or (params['symptoms'] is None):
            raise ValueError("Missing the required parameter `symptoms` when calling `assessment`")

        resource_path = '/api/assessment'.replace('{format}', 'json')
        method = 'POST'

        path_params = {}

        query_params = {}

        header_params = {}
        if 'access_token' in params:
            header_params['accessToken'] = params['access_token']

        form_params = {}
        files = {}
        if 'coughsoundfile' in params:
            files['coughsoundfile'] = params['coughsoundfile']
        if 'age' in params:
            form_params['age'] = params['age']
        if 'gender' in params:
            form_params['gender'] = params['gender']
        if 'assessment_id' in params:
            form_params['assessmentId'] = params['assessment_id']
        if 'symptoms' in params:
            form_params['symptoms'] = params['symptoms']

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['multipart/form-data'])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, method,
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=files,
                                            response_type='Assessment',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def health(self, **kwargs):
        """
        
        Health

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.health(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :return: Health
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method health" % key
                )
            params[key] = val
        del params['kwargs']


        resource_path = '/api/health'.replace('{format}', 'json')
        method = 'GET'

        path_params = {}

        query_params = {}

        header_params = {}

        form_params = {}
        files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, method,
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=files,
                                            response_type='Health',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def version(self, **kwargs):
        """
        
        Version

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.version(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :return: Version
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method version" % key
                )
            params[key] = val
        del params['kwargs']


        resource_path = '/api/version'.replace('{format}', 'json')
        method = 'GET'

        path_params = {}

        query_params = {}

        header_params = {}

        form_params = {}
        files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, method,
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=files,
                                            response_type='Version',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
